@font-face {
  font-family: InfriaSans-Bold;
  src: url(./fonts/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: InfriaSans-Regular;
  src: url(./fonts/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: InfriaSerif-Bold;
  src: url(./fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: InfriaSerif-Regular;
  src: url(./fonts/Ubuntu-Light.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primaryColor: yellow;
}

html,
body {
  width: 100%;
  height: 100%;
}

.page {
  width: 100%;
  height: 100%;
}

.section-1 {
  width: 100%;
  height: 80vh;
  /* display: block; */
}

.navBar {
  width: 100%;
  height: 25%;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: space-between;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  /* Add any other styles you want for the fixed navBar */
}

.uppernavBar {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  font-family: InfriaSans-Regular;
  background-color: white;
  padding: 0px 120px;
}

.uppernavBar-left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.akgec-logo {
  width: 10%;
  height: 10%;
  object-fit: cover;
  margin-right: 3%;
}

.akgec-logo img {
  width: 100%;
  height: 100%;
}

.college-name {
  width: 90%;
  display: block;
}

.college-name h1 {
  font-weight: 500;
  margin-bottom: 1%;
}

.college-location {
  width: 100%;
  display: flex;
  gap: 2%;
}

.college-location h4 {
  font-weight: 100;
}

#code {
  font-weight: 600;
}

.uppernavBar-right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jublee-logo {
  width: 30%;
  height: 30%;
  object-fit: cover;
  margin-left: 20%;
}

.jublee-logo img {
  width: 100%;
  height: 100%;
}

.naac-logo {
  width: 30%;
  height: 30%;
  object-fit: cover;
}

.naac-logo img {
  width: 100%;
  height: 100%;
}

.lowernavBar {
  width: 100%;
  height: 40%;
  background-color: #000000;
  /* background: fixed; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 120px;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.home a {
  color: white;
  text-decoration: none;
  font-family: InfriaSans-regular;
  font-size: large;
}

.home img {
  width: 10px;
  padding-top: 3px;
}

button {
  
  padding: 10px;
  font-family: InfriaSans-regular;
  border-radius: 8px;
  background-color: #fff500;
  font-weight: 600;
  margin-left: 10%;
}

button:hover{
    border: 2px solid yellow;
    cursor: pointer;
    color: white;
    background-color: #000000;
}

ul {
  list-style: none;
}

.slider {
  position: relative;
  width: 100%;
  height: 80vh;
  aspect-ratio: 1;
  overflow: hidden;
  cursor: grab;
  margin-top: 13%;
}

.slider input {
  display: none;
}

/* SLIDES */
.slides {
  position: absolute;
  left: 0;
  width: 400%;
  height: 100%;
  display: flex;
  transition: 0.2s;
}

.slide {
  width: 100%;
  display: grid;
  place-items: center;
  object-fit: cover;
}

.slide img{
  width: 100%;
  height: 100%;
}

.slide h2 {
  user-select: none;
  color: var(--primaryColor);
  height: 5rem;
  width: 5rem;
  font-size: 3rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  text-align: center;
  outline: 3px solid;
}

/* NAVIGATION */
.navigation {
  position: absolute;
  width: 100%;
  bottom: 2.5rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.navigation label {
  border: 2px solid var(--primaryColor);
  padding: 0.3rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
}

#radio1:checked ~ .navigation .btn1 {
  background: var(--primaryColor);
}

#radio2:checked ~ .navigation .btn2 {
  background: var(--primaryColor);
}

#radio3:checked ~ .navigation .btn3 {
  background: var(--primaryColor);
}

#radio4:checked ~ .navigation .btn4 {
  background: var(--primaryColor);
}


.section-2 {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.about-left {
  width: 190%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

.akg-img {
  width: 90%;
  height: 80%;
  /* background-color: red; */
  object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
}

.akg-img img {
  width: 100%;
  height: 100%;
}

.about-right {
  width: 130%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.about-us {
  display: flex;
  align-items: center;
  margin-bottom: 4%;
  gap: 12px;
  font-family: InfriaSerif-Regular;
}

.about-us img {
  width: 10px;
  height: 45px;
}

.description {
  font-family: InfriaSerif-Regular;
  width: 80%;
}

.description h3 {
  line-height: 150%;
  max-height: 200px;
  overflow: hidden;
  position: relative;
}

.description h3::before {
  content: "";
  position: absolute;
  height: 40px;
  width: 100%;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, white);
}

.check {
  appearance: none;
  border: 1px solid black;
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  margin-top: 1rem;
  font-family: InfriaSans-Regular;
}

.check::before {
  content: "Read more";
}

.check:checked::before {
  content: "Read less";
}

.description h3:has(+ .check:checked) {
  max-height: none;
  background: white;
}

#btn {
  margin: 5% 0% 5% 0%;
  width: 140px;
  background: linear-gradient(to left, white 50%, yellow 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
}

#btn:hover{
  border: 2px solid black;
  background-position: left;
  color: black;
  cursor: pointer;
}

.about-bottom {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: InfriaSans-Regular;
  gap: 60px;
}

.about-bottom h2 {
  color: #e4b709;
}

.section-3 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f5ca18;
}

.section-3-head {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  /* background-color: red; */
}

.section-3-head h1 {
  font-size: 2.8vw;
  font-family: InfriaSerif-Regular;
}

.line {
  width: 80px;
  height: 8px;
  background-color: #e4b709;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card-section {
  width: 80%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2%;
}

.card-1 {
  width: 28%;
  height: 70%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  font-family: InfriaSerif-Bold;
  border: 1px solid #e4b709;
}

.card-1 h1 {
  padding: 10px 0px 8px 10px;
  height: 15%;
}

.card-1 h2 {
  padding-left: 10px;
  font-size: 1.3vw;
  color: #00000080;
  height: 20%;
}

.readMore {
  display: flex;
  align-items: center;
  justify-content: center;
}

.readMore button {
  background-color: white;
  border: 1px solid #e4b709;
}

.readMore button:hover{
    background-color: #e4b709;
    border: 1px solid #000000;
}

.card-1 img {
  width: 100%;
  height: 50%;
}

.card-2 {
  width: 28%;
  height: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  font-family: InfriaSerif-Bold;
  border: 1px solid #e4b709;
}

.card-2 img {
  width: 100%;
  height: 50%;
}

.card-2 h1 {
  padding: 10px 0px 8px 10px;
  height: 15%;
}

.card-2 h2 {
  padding-left: 10px;
  font-size: 1.3vw;
  color: #00000080;
  height: 20%;
}

.parallax {
  background-image: url("./Images/bg-building.jpg");
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.parallax h1 {
  color: white;
  font-family: InfriaSans-Regular;
}

.parallax h3 {
  color: white;
  padding-top: 8px;
  font-family: InfriaSans-Regular;
}

.box-3 {
  margin-top: -30px;
}

.section-4 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.akgec-events {
  width: 98%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  /* background-color: yellow; */
}

.Events {
  width: 100%;
  height: 33%;
  display: flex;
  margin-top: 2%;
  align-items: start;
  justify-content: center;
}

#upcoming {
  margin-left: 10px;
  width: 35%;
  z-index: 1;
  padding-top: 30px;
}

.workShop {
  width: 50%;
  height: 100%;
}

.workShop img {
  border-radius: 20px 20px 0px 0px;
  margin-left: -30px;
  width: 80%;
  height: 90%;
}

.workShop h2 {
  font-size: 1.2vw;
  padding-left: 15px;
  font-family: InfriaSerif-Regular;
}

.section-5 {
  width: 100%;
  height: 80vh;
  background-color: #f7f5ca18;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-5-head {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: InfriaSans-Regular;
}

.story-section {
  width: 90%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.story-1 {
  width: 28%;
  height: 80%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.story-1-head {
  width: 80%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 5%;
  font-family: InfriaSerif-Regular;
}

.story-1-head-img {
  width: 30%;
  height: 90%;
  object-fit: cover;
  margin: 10px;
}

.story-1-head-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.des {
  display: block;
}

.des h3 {
  font-family: InfriaSerif-Bold;
  padding-bottom: 8px;
}

.des h4 {
  font-family: InfriaSerif-Regular;
  font-size: 1vw;
  color: #525fe1;
}

.story-des {
  width: 80%;
  height: 60%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.story-des h5 {
  font-family: InfriaSerif-Regular;
  line-height: 140%;
  letter-spacing: 1px;
  font-weight: 500;
}

#dotted-line {
  width: 100%;
  height: 10%;
  margin-bottom: 10%;
  padding-left: 8%;
}

.read-more-btn {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.read-more-btn button {
  border: none;
  width: 150px;
  margin-right: 8%;
}

.section-6 {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EBEBEB;
}

.partners {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.partners h1 {
  font-family: InfriaSerif-Bold;
  color: #00000040;
}

.vertical-line {
  width: 4px;
  height: 90px;
  background-color: #00000040;
  margin-left: -4%;
}

.logo-scroll-container {
    width: 60%;
    overflow: hidden;
    position: relative;
    
  }
  
  .logo-scroll {
    white-space: nowrap;
    animation: scroll 10s linear infinite;
  }
  
  .logo-scroll img {
    display: inline-block;
    margin-right: 70px; /* Adjust as needed to control the spacing between logos */
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%); /* Initial position, move the container to the right */
    }
    100% {
      transform: translateX(-100%); /* Move the container to the left, creating a loop */
    }
  }  

.section-7 {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-top: 5%;
}

.placements-1 {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

.placements {
  width: 98%;
  height: 100%;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.placements h1 {
  font-family: InfriaSerif-Bold;
  color: #00000040;
}

.placements-row-1 {
  width: 60%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: red; */
}

.placements-row-1 img {
  width: 180px;
}

.placements-row-2 {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
}

.placements-row-2 img {
  width: 180px;
  margin-right: 8%;
}

.placements-row-3 {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
}

.placements-row-3 img {
  width: 180px;
  margin-right: 1%;
}

.section-8 {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: #f6f7f1;
  margin-top: 5%;
}

.section-8-head {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: InfriaSans-Regular;
  margin-top: 2%;
  /* background-color: red; */
}

.testimonials {
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial-1 {
  width: 28%;
  height: 55%;
  border: 3px solid #e4b709;
  display: flex;
}

.testimonial-1-left {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.testimonial-1-left h2 {
  width: 120%;
  font-size: 1vw;
  padding: 10px 10px 0px 10px;
  font-family: InfriaSerif-Bold;
}

.testimonial-1-left h3 {
  font-size: 0.8vw;
  padding: 10px;
  font-family: InfriaSerif-Regular;
}

.img {
  width: 100%;
  height: 60%;
}

.img img {
  width: 100%;
  height: 100%;
}

.testimonial-1-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  /* background-color: yellow; */
}

.testimonial-1-right h4 {
  width: 90%;
  margin-top: 10px;
  font-family: InfriaSerif-Regular;
  letter-spacing: 1px;
  font-size: 0.9vw;
  line-height: 140%;
}

.section-9{
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.footer{
  width: 80%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.column-1{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: white;
  font-family: InfriaSerif-Regular;
}

.column-2{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: white;
  font-family: InfriaSerif-Regular;
}

.column-2 a{
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
  font-family: InfriaSerif-Regular;
}

.column-3{
  width: 40%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  color: white;
  font-family: InfriaSerif-Regular;
}